.productTextContainer {
  position: absolute;
  top: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 2rem;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.product-title {
  font-size: 2rem;
  font-weight: 700;
}

.product-detail {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.25rem;
}
