@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 主配色： */
  --color-apple-light: #f5f5f7;
  --color-apple-dark: #1d1d1f;
  /* 标准色： */
  --color-apple-black: #000000;
  --color-apple-white: #ffffff;
  /* 品牌配色： */
  --color-apple-blue: #0071e3;
  --color-apple-red: #b64400;
  /* 灰阶系统： */
  --color-apple-gray-100: #f5f5f7;
  --color-apple-gray-200: #d2d2d7;
  --color-apple-gray-300: #86868b;
  --color-apple-gray-400: #424245;
  --color-apple-gray-500: #1d1d1f;
  /* 字体 */
  --font-sans: 'Inter', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-display: 'Poppins', 'Inter', 'sans-serif';
  --font-text: 'Source Sans Pro', 'Open Sans', 'sans-serif';
  /* 文字颜色 */
  --color-apple-text-light: #1d1d1f;
  --color-apple-text-dark: #f5f5f7;
  /* 阴影 */
  --shadow-apple-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-apple-md: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-apple-lg: 0 8px 24px rgba(0, 0, 0, 0.06);
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  color: var(--color-apple-dark);
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.01em;
  background-color: var(--color-apple-light);
}
